html, body
{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #212121;
}
header
{
    height: 46px;
}
header h1
{
    font-size: 20px;
    letter-spacing: .02em;
    font-weight: 400;
    color: #424242;
    margin-left: 2em;
}
main
{
    height: 200px;
    background-color: #00897b;
    padding-top: 50px;
}
article
{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 70%;
    height: auto;
    background-color: #ffffff;
    padding: 40px 28px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
article h3
{
    font-size: 34px;
    font-weight: 400;
    color: #424242;
}
footer
{
    padding: 15px;
    background-color: #424242;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #9E9E9E;
    text-align: center;
}
table, td, th
{
    border-collapse: collapse;
}
th
{
    width: 120px;
    height: 30px;
    text-align: right;
}
em
{
    margin-top: .4em;
    padding: 0 .2em;
    float: right;
    display: block;
    background-color: #EF6C00;
    color: white;
}

#next
{
    margin-top: .4em;
    margin-left: .5em;
    padding: 0 .2em;
    float: right;
    display: block;
    width: 60px;
    background-color: #EF6C00;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.notice
{
    color: red;
    font-style: italic;
}

.example
{
    font-style: italic;
    font-size: .9em;
    color: #666;
}
select
{
    width: 200px;
}
nav
{
    background-color: #EF6C00;
	position: fixed;
	float: right;
	right:0;
	top:2em;
	box-shadow:0 1px 1px #565656;
    border-radius: 10px 0 0 10px;
}

a, a:visited
{
	color: #FFFFFF;
	text-decoration:none;
	outline:none;
}

a:hover
{
	color:black;
}


h3 a, h3 a:visited
{
	color: #EF6C00;
	text-decoration:none;
	outline:none;
}

/* The navigation styling: */

nav ul
{
	padding-left: 18px;
}

nav ul li
{
	display:inline;
}

nav ul li a, nav ul li a:visited
{
	float:left;
	margin: auto;
	padding: 0 10px 10px 0px;
	text-shadow:0 1px 1px #565656;
}

#progressbar .ui-progressbar-value
{
    background-color: #EF6C00;
}